body{
  color: white;
    background: black;
}
.heading{
    width: 80%;
    font-size: 22px;  
}

.name_of_objects, #result_object_name, #result_object_accuracy{
    color: blue;
    box-shadow: blue;
  }

#camera{
  border: 5px dashed greenyellow;
  width: 350px;
  height: 300px;
  box-shadow: greenyellow;
}